.button11 {
  background-color: #1f3e51;
  display: flex;
  border: none;
  color: white;
  padding: 0% 14%;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  border-radius: 32px 35px;
}

.connect-logo-55 {
  margin-top: 12px;
  margin-right: 3px;
}
