.mainwrapper6-button1 {
  width: 100%;
  background-image: linear-gradient(#f20806, #790d0c);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px 35px;
  margin: 2%;
}
