.connected1 {
  display: flex;
  border-radius: 32px;

  width: 170px;

  height: 37px;

  margin-top: 20px;
  background-color: #113446;
  opacity: 0.75;
}
.connect-logo-1 {
  margin-left: 10%;
  height: 15px;
  margin-top: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.connect-logo-2 {
  margin-left: 4%;
  margin-top: 3%;
  height: 19px;
  width: 120px;
  font-family: "Montserrat", sans-serif;
  // font-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
