nav {
  width: 100%;
  height: auto;

  display: flex;
  // border: 2px solid black;
  justify-content: center;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border: 2px solid yellow;
  width: 70%;
}

.Expense {
  display: flex;

  width: 137.79px;
  height: 35px;

  margin-top: 20px;
}
.combnation {
  display: flex;

  justify-content: space-between;

  width: 545px;

  // border: 2px solid red;
}
.connected {
  display: flex;
  border-radius: 32px;

  width: 200px;
  height: 37px;

  margin-top: 20px;
  background-color: #113446;
  opacity: 0.75;
}
// .connected1 {
//   display: flex;
//   border-radius: 32px;

//   width: 170px;

//   height: 37px;

//   margin-top: 20px;
//   background-color: #113446;
//   opacity: 0.75;
// }

// .Logout {
//   display: flex;
//   border-radius: 32px;
//   width: 156px;
//   height: 37px;
//   background-color: #113446;
//   opacity: 0.75;
//   margin-top: 20px;
// }
// .connect-logo-2 {
//   margin-left: 4%;
//   margin-top: 3%;
//   height: 19px;
//   width: 120px;
//   font-family: "Montserrat", sans-serif;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   color: white;
// }
// .connect-logo-1 {
//   margin-left: 7%;
//   height: 15px;
//   margin-top: 5%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.connect-logo-5 {
  margin-left: 10%;
  height: 15px;
  margin-top: 8%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// .connect-logo-6 {
//   padding-left: 3%;
//   margin-top: 4%;
//   height: 19px;
//   width: 104px;
//   font-family: "Montserrat", sans-serif;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   color: white;
// }

@media only screen and (max-width: 800px) {
  // nav {
  //   flex-direction: column;
  // }
  .Expense {
    margin-left: 2%;
  }
  .mainwrapper1 {
    width: 100%;
  }
  .mainwrapper2 {
    flex-direction: column;
  }
  .mainwrapper {
    width: 85%;
  }
  .nav-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .mainwrapper2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainwrapper2-inside2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  nav {
    justify-content: flex-start;
  }
}
