nav {
  width: 100%;
  height: auto;

  display: flex;

  justify-content: center;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 70%;
}

.Expense {
  display: flex;

  width: 137.79px;
  height: 35px;

  margin-top: 20px;
}
.combnation {
  display: flex;

  justify-content: space-between;

  width: 545px;
}
.connected {
  display: flex;
  border-radius: 32px;

  width: 200px;
  height: 37px;

  margin-top: 20px;
  background-color: #113446;
  opacity: 0.75;
}

.connect-logo-5 {
  margin-left: 10%;
  height: 15px;
  margin-top: 8%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  .Expense {
    margin-left: 2%;
  }
  .mainwrapper1 {
    width: 100%;
  }
  .mainwrapper2 {
    flex-direction: column;
  }
  .mainwrapper {
    width: 85%;
  }
  .nav-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .mainwrapper2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainwrapper2-inside2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  nav {
    justify-content: flex-start;
  }
}
