.Logout {
  display: flex;
  border-radius: 32px;

  width: 142px;
  height: 37px;
  background-color: #113446;
  opacity: 0.75;
  margin-top: 20px;
  margin-right: 6%;
}

.connect-logo-5 {
  margin-left: 5%;
  height: 15px;
  margin-top: 8%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.connect-logo-6 {
  padding-left: 5%;
  margin-top: 4%;
  height: 19px;
  width: 104px;
  font-family: "Montserrat", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
